@import './Partial'; 


#modal-container{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include center;
    background: rgba(51, 51, 51, 0.548);
    background-size: cover!important;
    width: 100%!important;
    #modal{ 
        background: #fff;
        @include center;
        flex-direction: column;
    }

}


